<mat-toolbar class="app-bar" role="banner">
  <a class="title" routerLink="/" aria-label="Accueil Pronoscup 2026">
    <img src="logo-2026.svg" alt="" class="brand-logo" />
    Pronoscup 2026
  </a>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/classement" aria-label="Classement" title="Classement">
    <mat-icon>leaderboard</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="theme.toggleDark()"
    [attr.aria-label]="darkLabel()"
    [title]="darkLabel()"
  >
    <mat-icon>{{ darkIcon() }}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="themeMenu" aria-label="Thème de couleurs" title="Thème">
    <mat-icon>palette</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    @for (t of themeItems(); track t.id) {
      <button mat-menu-item (click)="theme.set(t.id)">
        <mat-icon>{{ t.icon }}</mat-icon>
        <span>{{ t.label }}</span>
      </button>
    }
  </mat-menu>
  @if (user()) {
    <button mat-button [matMenuTriggerFor]="accountMenu" class="account-btn" [title]="accountLabel()">
      <mat-icon>account_circle</mat-icon>
      <span class="account-name">{{ accountLabel() }}</span>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon><span>Se déconnecter</span>
      </button>
    </mat-menu>
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="loginMenu" aria-label="Se connecter" title="Se connecter">
      <mat-icon>login</mat-icon>
    </button>
    <mat-menu #loginMenu="matMenu">
      <button mat-menu-item (click)="signInGoogle()">
        <mat-icon>account_circle</mat-icon><span>Continuer avec Google</span>
      </button>
      <button mat-menu-item (click)="openEmailLogin()">
        <mat-icon>mail</mat-icon><span>Continuer par e-mail</span>
      </button>
    </mat-menu>
  }
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="fileInput.click()">
      <mat-icon>upload</mat-icon><span>Importer mes pronostics</span>
    </button>
    <button mat-menu-item (click)="onExport()">
      <mat-icon>download</mat-icon><span>Exporter mes pronostics</span>
    </button>
    <button mat-menu-item (click)="onReset()">
      <mat-icon>delete</mat-icon><span>Réinitialiser</span>
    </button>
  </mat-menu>
</mat-toolbar>

<input
  #fileInput
  type="file"
  accept="application/json,.json"
  hidden
  (change)="onImport($event)"
/>

<router-outlet />
